extends blocks/--houses.pug

block houseVariables
  - const currentPage = PAGES["45m"].pageHref;
  - const houseData = HOUSES_DATA["45m"]
  - const pageTitle = houseData.title;
  - const pageDescription = houseData.description;
  - const classModifier = "--45";
  - const descrRu = "45 м²";
