extends blocks/--houses.pug

block houseVariables
  - const currentPage = PAGES["70m"].pageHref;
  - const houseData = HOUSES_DATA["70m"]
  - const pageTitle = houseData.title;
  - const classModifier = "--70";
  - const descrRu = "70 м²";
