extends blocks/--houses.pug

block houseVariables
  - const currentPage = PAGES["80m"].pageHref;
  - const houseData = HOUSES_DATA["80m"]
  - const pageTitle = houseData.title;
  - const pageDescription = houseData.description;
  - const classModifier = "--80";
  - const descrRu = "80 м²";
