extends blocks/-page-layout.pug

block prepend variables
  - const currentPage = PAGES["faq"].pageHref;
  - const pageTitle = "Вопросы";

mixin faqAccordionItem(buttonValue, contentValue)
  li.faq__item
    button.button.accordion-button.faq__item-name(type="button")= buttonValue
    .faq__item-content.accordion-content
      p= contentValue

block main
  main.main
    section.faq
      .wrapper
        .faq__title-container
          h1.faq__title Частые вопросы
          .faq__decor.faq__decor--1
            .faq__decor-container
              .faq__decor-back-image
          .faq__decor.faq__decor--2
            .faq__decor-container
              .faq__decor-back-image
        ul.faq__category-list
          each item in FAQ_ARRAY
            li(class= item.answer ? "faq__item" : "faq__item faq__item--empty")
              button.button.accordion-button.faq__item-name(type="button")
                span= item.question
              .faq__item-content.accordion-content
                if item.answer
                  p= item.answer
