extends blocks/-page-layout.pug

block prepend variables
  - const currentPage = PAGES["index"].pageHref;
  - const pageTitle = "Модульные дома с отделкой и коммуникациями";

block append head
    <link rel="preload" as="image" href="img/main-slider-1-m@2x.jpeg" media="(max-width: 1199px) and (min-resolution: 1.1dppx)">
    <link rel="preload" as="image" href="img/main-slider-1-m@1x.jpeg" media="(max-width: 1199px) and (max-resolution: 1dppx)">
    <link rel="preload" as="image" href="img/main-slider-1-sd@2x.jpeg" media="(min-width: 1200px) and (max-width: 1699px) and (min-resolution: 1.1dppx)">
    <link rel="preload" as="image" href="img/main-slider-1-sd@1x.jpeg" media="(min-width: 1200px) and (max-width: 1699px) and (max-resolution: 1dppx)">
    <link rel="preload" as="image" href="img/main-slider-1-d@2x.jpeg" media="(min-width: 1700px) and (min-resolution: 1.1dppx)">
    <link rel="preload" as="image" href="img/main-slider-1-d@1x.jpeg" media="(min-width: 1700px) and (max-resolution: 1dppx)">

block main
  main.main.index-main
    include blocks/widget-headset.pug

    include blocks/section-promo-main.pug
    include blocks/section-slider-ourprojects.pug
    include blocks/section-offer.pug
    include blocks/section-features-main.pug
    include blocks/section-quiz.pug
    include blocks/section-instock.pug
    include blocks/section-advantages.pug
    include blocks/section-basequipment.pug
    include blocks/section-basequipment-not.pug
    include blocks/section-credit.pug
    include blocks/section-order.pug
