extends blocks/page-layout.pug

block prepend variables
  - const currentPage = 'index';
  - const pageTitle = 'Domy';

block main
  main.main
    h1.visuallyhidden DOMY. Модульные дома.
    include blocks/section-promo-main.pug
    include blocks/section-features-main.pug
    include blocks/section-offer.pug
