extends blocks/page-layout.pug

block prepend variables
  - const currentPage = PAGES["index"].pageHref;
  - const pageTitle = "Domy";

block append head
    <link rel="preload" href="img/main-slider-1@2x.webp" media="(min-width: 1200px) and (min-resolution: 1.1dppx)" as="image/webp">
    <link rel="preload" href="img/main-slider-1@1x.webp" media="(min-width: 1200px) and (max-resolution: 1dppx)" as="image/webp">

block main
  main.main.index-main
    h1.visuallyhidden DOMY. Модульные дома.
    include blocks/section-promo-main.pug
    include blocks/section-features-main.pug
    include blocks/section-offer.pug
    include blocks/section-instock.pug
    include blocks/section-basequipment.pug
    include blocks/section-basequipment-not.pug
    include blocks/section-order.pug
