extends blocks/-page-layout.pug

block prepend variables
  - const currentPage = PAGES["privacy"].pageHref;
  - const pageTitle = "Политика конфиденциальности сайта";

mixin domycompanyru(cssClass= "privacy__link-text", linkHref="https://domycompany.ru/", linkText=" domycompany.ru")
  |
  |
  a(class=cssClass, href=linkHref)= linkText
  |
  |

block main
  main.main
    section.privacy
      .wrapper
        h1.privacy__title Политика конфиденциальности сайта
          +domycompanyru("privacy__link-title")
        p.privacy__intro
          | Настоящая Политика конфиденциальности персональных данных (далее — Политика конфиденциальности) действует в отношении всей информации, полученной на сайте в сети Интернет по адресу:
          +domycompanyru
          | (далее — Сайт), которую посетитель Сайта (далее — Пользователь) предоставляет во время использования Сайта, заполнения форм обратной связи на Сайте. Использование Сайта, заполнение форм обратной связи на Сайте (проставление галочки в графе «я принимаю политику конфиденциальности и даю согласие на обработку персональных данных») означает согласие Пользователя с настоящей Политикой конфиденциальности и указанными в ней условиями обработки его персональных данных; в случае несогласия с этими условиями Пользователь должен воздержаться от использования Сайта, заполнения форм обратной связи на Сайте.
        ol.privacy__chapters-list.privacy__list
          li.privacy__chapter
            span.privacy__chapter-title Общие положения
            ol.privacy__list
              li.privacy__item
                span.privacy__text В рамках настоящей Политики конфиденциальности под персональными данными Пользователя понимаются:
                ol.privacy__list
                  li.privacy__item Персональные данные, которые Пользователь предоставляет о себе самостоятельно при заполнении форм обратной связи на Сайте. Обязательная для заполнения форм обратной связи информация помечена специальным образом. Иная информация предоставляется Пользователем на его усмотрение.
                  li.privacy__item Данные, которые автоматически передаются сервисам Сайта в процессе их использования с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к Сайту), технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к Сайту, адреса запрашиваемых страниц и иная подобная информация.
                  li.privacy__item Настоящая Политика конфиденциальности применяется только к Сайту
                    +domycompanyru
                    | <br> Сайт domycompany.ru не контролирует и не несет ответственности за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на Сайте.
          li.privacy__chapter
            span.privacy__chapter-title Цели обработки персональных данных пользователя
            ol.privacy__list
              li.privacy__item Сайт собирает и хранит только те персональные данные, которые необходимы для предоставления услуг/работ Пользователю и/или исполнения соглашений и договоров с Пользователем, за исключением случаев, когда законодательством предусмотрено обязательное хранение персональных данных в течение определенного законом срока.
              li.privacy__item
                span.privacy__text Персональные данные Пользователя Сайт обрабатывает в следующих целях:
                ol.privacy__list
                  li.privacy__item Установления с Пользователем обратной связи, включая направление уведомлений, касающихся предоставления услуг/работ Пользователю, обработку запросов и заявок от Пользователя, направление ответов на запросы и заявки Пользователя, предоставление Пользователю информации о товарах и услугах, предлагаемых на Сайте.
                  li.privacy__item Осуществления рекламной деятельности с согласия Пользователя, включая рассылки о маркетинговых мероприятиях, специальных предложениях и акциях посредством электронной почты, SMS - сообщений.
                  li.privacy__item Получение сводной информации о Пользователях Сайта, определения предпочтений Пользователей Сайта в маркетинговых целях.
                  li.privacy__item Проведение маркетинговых и иных исследований.
                  li.privacy__item Улучшения работы Сайта.
          li.privacy__chapter
            span.privacy__chapter-title Условия обработки персональных данных пользователя и их передачи третьим лицам
            ol.privacy__list
              li.privacy__item В отношении персональных данных Пользователя сохраняется их конфиденциальность, кроме случаев добровольного предоставления Пользователем персональных данных для общего доступа неограниченному кругу лиц.
              li.privacy__item Владелец Сайта не проверяет достоверность получаемых персональных данных Пользователя, за исключением случаев, когда такая проверка необходима в целях исполнения обязательств перед Пользователем.
              li.privacy__item
                span.privacy__text Владелец Сайта вправе передать персональные данные Пользователя третьим лицам в следующих случаях:
                ol.privacy__list
                  li.privacy__item Пользователь выразил свое согласие на такие действия.
                  li.privacy__item Передача предусмотрена в рамках процедуры, установленной законодательством Российской Федерации.
              li.privacy__item Обработка персональных данных Пользователя осуществляется в течение срока, необходимого для целей, указанных в настоящей Политике конфиденциальности, любым законным способом, в том числе в информационных системах с использованием средств автоматизации или без использования таких средств. Обработка персональных данных Пользователя осуществляется в соответствии с требованиями законодательства Российской Федерации.
              li.privacy__item При утрате или разглашении персональных данных Владелец Сайта информирует Пользователя об утрате или разглашении персональных данных.
              li.privacy__item Владелец Сайта принимает необходимые организационные и технические меры для защиты персональных данных Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
              li.privacy__item Владелец Сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.
          li.privacy__chapter
            span.privacy__chapter-title Обязательства сторон
            ol.privacy__list
              li.privacy__item
                span.privacy__text Пользователь обязан:
                ol.privacy__list
                  li.privacy__item Предоставить персональные данные, необходимые для пользования Сайтом.
                  li.privacy__item Обновлять, дополнять предоставленные персональные данные в случае изменения данной информации.
              li.privacy__item
                span.privacy__text Владелец Сайт обязан:
                ol.privacy__list
                  li.privacy__item Использовать полученные персональные данные исключительно для целей, указанных в настоящей Политике конфиденциальности.
                  li.privacy__item Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением предусмотренных настоящей Политикой конфиденциальности.
                  li.privacy__item Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемому для защиты такого рода информации в существующем деловом обороте.
                  li.privacy__item Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки в случае выявления недостоверных персональных данных или неправомерных действий.
          li.privacy__chapter
            span.privacy__chapter-title Разрешение споров
            ol.privacy__list
              li.privacy__item До обращения в суд с иском по спорам, возникающим из отношений между Пользователем Сайта и Владельцем Сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
              li.privacy__item Получатель претензии в течение 10 (десяти) рабочих дней со дня получения претензии письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
              li.privacy__item При недостижении соглашения спор будет передан на рассмотрение в суд в соответствии с действующим законодательством Российской Федерации.
              li.privacy__item К настоящей Политике конфиденциальности и отношениям между Пользователем и Владельцем Сайта применяется действующее законодательство Российской Федерации.
          li.privacy__chapter
            span.privacy__chapter-title Дополнительные условия
            ol.privacy__list
              li.privacy__item Владелец Сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
              li.privacy__item Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.
              li.privacy__item Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать Владельцу Сайта на адрес электронной почты
                +domycompanyru("privacy__link-text", "mailto:domycompany@ya.ru", "domycompany@ya.ru")
              li.privacy__item Действующая Политика конфиденциальности размещена на странице по адресу:
                +domycompanyru
