extends blocks/-page-layout.pug

block prepend variables
  - const currentPage = PAGES["technology"].pageHref;
  - const pageTitle = "Технологии и производство";

block main
  main.main.technology
    section.technology__intro
      .wrapper
        h1.technology__title.animated-appearance Наши преимущества
        ul.technology__list
          li.technology__item.animated-appearance
            .technology__icon
              img(src="./img/domy-icons-logistik.svg", width="81", height="48", alt="Пиктограмма с грузовым автомобилем.")
            p.technology__descr Производство <br>полного цикла и удобная логистика
          li.technology__item.animated-appearance
            .technology__icon
              img(src="./img/domy-icons-qc.svg", width="81", height="48", alt="Пиктограмма 'знак качества'.")
            p.technology__descr Тщательный контроль <br>качества на всех этапах производства
          li.technology__item.animated-appearance
            .technology__icon
              img(src="./img/domy-icons-90finished.svg", width="81", height="48", alt="Пиктограмма грузовика перевозящего дом.")
            p.technology__descr Дом привозится <br>на 90% готовым
          li.technology__item.animated-appearance
            .technology__icon
              img(src="./img/domy-icons-nomoisture.svg", width="81", height="48", alt="Пиктограмма с перечёркнутой каплей.")
            p.technology__descr Фабричное производство и наши технологии исключают попадание влаги на дерево и образование грибка

    section.technology__features
      .wrapper
        article.technology__article.animated-appearance
          h2.technology__feature-title Удобная локация и логистика
          p.technology__feature-text Наше производство располагается в городе Хотьково Московской области недалеко от ЦКАД, что позволяет организовать удобную логистику по всей России.
          .technology__feature-photo.technology__feature-photo--big.animated-appearance
            +pictureJpgWebpM("tech-logistic", 340, 207, "Погрузка модульного дома.", "", null, [660, 1700])
        article.technology__article.technology__article--double-image.animated-appearance
          h2.technology__feature-title Мы используем только современные, высококачественные материалы
          p.technology__feature-text Все детали конструкции модульного дома проходят тщательный контроль качества на всех этапах производства.
          .technology__feature-photo.animated-appearance
            +pictureJpgWebpM("tech-workshop1", 160, 152, "Доски и каркас дома в цеху.", "", "lazy", [660, 1700])
          .technology__feature-photo.animated-appearance
            +pictureJpgWebpM("tech-workshop2", 160, 124, "Дом на стадии сборки.", "", "lazy", [660, 1700])
        article.technology__article.technology__article--shipment.animated-appearance
          h2.technology__feature-title Дом собирается на 90% в цехе и привозится на участок заказчика готовым — целым модулем
          p.technology__feature-text Остается лишь установить дом на фундамент и подключить к коммуникациям.
          .technology__feature-photo.technology__feature-photo--big.animated-appearance
            +pictureJpgWebpM("tech-shipment", 360, 218, "Грузовик перевозит готовый дом.", "", "lazy", [660, 1700])
      //- Слайдер
      .wrapper--ext
        .technology__photo-slider
          .slider-coverflow.swiper
            ul.technology__slider-list.swiper-wrapper
              each item in [0, 1, 2, 3, 4]
                li.swiper-slide
                  .technology__slider-item
                    +pictureJpgWebpM(`tech-slider-${item}`, 360, 218, "Установка дома на участке", "technology__slider-img", null, [660, 1700])
            .technology__slider-control
              .swiper-pagination
              .swiper-button-prev
                span.visuallyhidden предыдущий слайд
              .swiper-button-next
                span.visuallyhidden следующий слайд
      .wrapper
        article.technology__article.technology__article--empty(style="display:none")
        article.technology__article.technology__article--double-image.animated-appearance
          h2.technology__feature-title Благодаря фабричному производству и нашим технологиям исключается попадание влаги на дерево
          p.technology__feature-text Таким образом дерево остается сухим и исключается появление плесени и грибка, что гарантирует экологичность и долгий срок службы дома.
          .technology__feature-photo.animated-appearance
            +pictureJpgWebpM("tech-planks", 160, 180, "Деревянный материал крупным планом в цеху.", "", "lazy", [660, 1700])
          .technology__feature-photo.animated-appearance
            +pictureJpgWebpM("tech-inhouse", 160, 180, "Фото интерьера дома в цеху на завершающей стадии работы.", "", "lazy", [660, 1700])

    .technology__outro
      .wrapper
        p.animated-appearance Воплотите свои мечты в реальность с Domy – вашим надежным партнером в строительстве модульных домов!

