.description__header-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 0 10px;

  @media (min-width: $desktop-width) {
    margin: 0 0 13px;
  }
}

.description__title {
  @include font-title-middle;

  position: absolute;
  margin: 0;
  font-size: 20px;
  line-height: 110%;

  @media (min-width: $small-desktop-width) {
    position: static;
    font-size: 40px;
    line-height: 123%;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 120%;
  }
}

.description__title span:first-of-type {
  letter-spacing: 0.06em;
}

.description__title span:nth-of-type(2) {
  letter-spacing: -0.14em;
}

.description__about {
  margin: 0;
  padding: 10px 0;
  font-size: 12px;

  @media (min-width: $desktop-width) {
    font-size: 14px;
  }
}

.description__about-more {
  display: block;
  font-size: 14px;
  font-weight: 800;
  text-align: right;

  @media (min-width: $desktop-width) {
    font-size: 16px;
  }
}

.description__specifications {
  width: 100%;
  margin: 0 0 42px;

  @media (min-width: $small-desktop-width) {
    margin: 0 0 5px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px;
  }
}

.description__box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  padding: 0;
  font-size: 16px;
  vertical-align: baseline;

  .description__specifications--small & {
    font-size: 12px;

    @media (min-width: $desktop-width) {
      font-size: 14px;
    }
  }

  &--indented {
    padding-bottom: 2px;
    border-bottom: 1px solid rgba($palette-darkcontrast, 0.5);
    margin-bottom: 1.5px;

    @media (min-width: $small-desktop-width) {
      padding-bottom: 10.5px;
      margin-bottom: 8px;
    }

    .description__specifications--small & {
      padding-bottom: 5.25px;
      margin-bottom: 2px;
    }
  }

  &--head {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 9px;

    @media (min-width: $small-desktop-width) {
      margin-bottom: 29px;
    }
  }

  &--summary {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 800;

    @media (min-width: $small-desktop-width) {
      margin-bottom: 29px;
    }

    .description__specifications--small & {
      margin-top: 8px;
      margin-bottom: 17px;
      font-size: 14px;

      @media (min-width: $desktop-width) {
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 16px;
      }
    }
  }
}

.description__value {
  padding: 3px 5.5px;
  font-size: 20px;
  font-weight: 800;
  transform: translateX(5px);

  @media (min-width: $small-desktop-width) {
    padding: 5.5px;
  }

  .description__specifications--small & {
    padding: 4.5px;
    font-size: 14px;

    @media (min-width: $desktop-width) {
      padding: 5.5px;
      font-size: 16px;
    }
  }

  .description__box--summary & {
    margin-right: 5px;
    padding: 7.5px;
    border-radius: 10px 0;
    background-color: $palette-accent;

    @media (min-width: $small-desktop-width) {
      margin-right: 0;
      padding: 5px 12px;
    }
  }

  .description__specifications--small .description__box--summary & {
    font-size: 14px;

    @media (min-width: $desktop-width) {
      font-size: 16px;
    }
  }
}

.house-characteristics__scheme {
  padding: 10px;

  @media (min-width: $small-desktop-width) {
    padding: 0;
  }
}

.description__container {
  display: none;

  @media (min-width: $small-desktop-width) {
    display: block;
    padding: 24px 64px 35px 56px;
    border-radius: 100px 0;
    color: $palette-darkcontrast;
    background-color: $palette-secondary;
  }

  @media (min-width: $desktop-width) {
    padding: 35px 76px 35px 69px;
    border-radius: 120px 0;
  }
}

.description__smallcontainer {
  position: relative;
  width: 150px;
  margin-top: 55px;
  padding: 41px 9px 15px 20px;
  border-radius: 35px 0;
  color: $palette-darkcontrast;
  background-color: $palette-secondary;

  @media (min-width: $small-desktop-width) {
    display: none;
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.97);
		box-shadow:
      0 0 0 0 rgba($palette-accent, 0.7),
      0 0 0 0 rgba($palette-accent, 0.2);
	}

	95% {
		transform: scale(1.02);
		box-shadow:
      0 0 0 7px rgba($palette-accent, 0),
      0 0 0 21px rgba($palette-accent, 0);
	}

	100% {
		transform: scale(0.97);
		box-shadow:
      0 0 0 0 rgba($palette-accent, 0),
      0 0 0 0 rgba($palette-accent, 0);
	}
}

.description__title-link {
  display: block;
  position: absolute;
  box-sizing: border-box;
  padding: 23px 0;
  width: 69px;
  height: 69px;
  top: -79px;
  left: 31px;
  background-color: $palette-accent;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
	box-shadow: 0 0 0 0 rgba($palette-accent, 1), 0 0 0 0 rgba($palette-accent, 0.5);
	transform: scale(1);
	animation: pulse 1.3s infinite;
}

.description__shortlist {
  @include list;

  display: flex;
  flex-flow: row wrap;
  gap: 5%;
  font-size: 12px;
  line-height: 150%;
}

.description__feature {
  flex-basis: 47%;
  display: flex;
  line-height: 13px;
  margin-bottom: 6px;
}
