.button {
  box-sizing: border-box;
  padding: 10px;
  border: none;
  font-family: inherit;
  text-decoration: none;
  text-align: center;
  word-break: break-all;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
}
