.footer-nav {
  @include font-primary($color: $palette-dim);

  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
}

.footer-nav__item {
  flex-basis: 48%;

  @media (min-width: $desktop-width) {
    flex-basis: 45.5%;
  }
}

.footer-nav__link {
  display: inline-block;
  padding: 10px;

  @media (min-width: $small-desktop-width) {
    padding: 10.25px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 9.75px 0;
  }
}
