.header {
  min-height: 130px;
}

.header__fixed-container {
  padding-top: 38px;
  position: fixed;
  width: 100%;
  color: $palette-darkcontrast;
  background-color: $palette-brightcontrast;
  z-index: 100;
  box-shadow: 0 3px 50px rgba($palette-darkcontrast, 15%);
}

.header .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo-block {
  flex-basis: 14.06%;
}

.header a {
  text-decoration: none;
}

.header__logo {
  display: inline-block;
  padding: 3px 0 5px;
}

.header__nav-block {
  position: relative;
  flex-basis: 48.43%;
}

.header__nav {
  flex-basis: 60%;
  margin: 6px 2px 48px;
}

.header__sub-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: absolute;
  width: 64.51%;
  bottom: 22px;
  left: 0;
  z-index: 100;
  transform: translateX(-25%);

  &.header__sub-menu--shifted {
    left: unset;
    right: 3%;
    justify-content: flex-end;
  }
}

.header__sub-menu--shifted .header__sub-item {
  margin-left: 8%;
}

.header__call-block {
  flex-basis: 31.25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__phone {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 11px 0;
}

.header__tel {
  font-size: 16px;
  font-weight: 700;
  margin: 0 5px 7px;
}

.header__tel-time {
  margin: 0 5px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
}

.header__callback {
  flex-basis: 40%;
  margin: 2px 0;
  padding: 11px 9px 9px;
  align-self: flex-start;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: $palette-accent;
  border: 1px solid $palette-darkcontrast;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.42s;

  &:hover {
    color: $palette-brightcontrast;
    background-color: $palette-prime;
  }
}
