.promo-description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.promo-description__header-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 0 15px;
}

.promo-description__title {
  @include font-title-middle;

  margin: 0;
}

.promo-description__title span:first-of-type {
  letter-spacing: 0.06em;
}

.promo-description__title span:nth-of-type(2) {
  letter-spacing: -0.14em;
}

.promo-description__about {
  margin: 0;
  padding: 12px 0 10px;
  font-size: 14px;
}

.promo-description__about-more {
  display: block;
  font-size: 16px;
  font-weight: 800;
  text-align: right;
}

.promo-description__specifications {
  width: 100%;
  margin: 0 0 37px;
}

.promo-description__box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  padding: 0;
  font-size: 14px;
  vertical-align: baseline;

  &--indented {
    padding-bottom: 5.25px;
    border-bottom: 1px solid;
    margin-bottom: 4px;
  }

  &--summary {
    margin-top: 18px;
    font-size: 16px;
    font-weight: 800;
  }
}

.promo-description__box--summary .promo-description__parameter {
  align-self: flex-end;
}

.promo-description__value {
  padding: 5.5px;
  font-size: 16px;
  font-weight: 800;
  transform: translateX(5px);

  .promo-description__box--summary & {
    border-radius: 10px 0;
    background-color: $palette-accent;
  }
}
