.house-promo {
  padding: 50px 0 30px;

  @include font-primary;

  @media (min-width: $small-desktop-width) {
    padding: 50px 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 142px 0 100px;
  }
}

.house-promo--pending {
  position: relative;
  padding: 50px 0 40px;
  color: $palette-brightcontrast;
  background-color: $palette-prime;

  @media (min-width: $small-desktop-width) {
    padding-top: 77px;
  }
}

.house-promo--pending::after {
  content: "";
  position: absolute;
  width: 181px;
  height: 289px;
  background: transparent url("../img/bigbrun-pending-m.svg") no-repeat center;
  left: 0;
  bottom: 120px;
  z-index: 2;

  @media (min-width: $small-desktop-width) {
    background: transparent url("../img/bigbrun-pending-sd.svg") no-repeat center;
    width: 318px;
    height: 386px;
    left: 0;
    bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    background: transparent url("../img/bigbrun-pending-d.svg") no-repeat center;
    width: 460px;
    height: 529px;
    left: 0;
    bottom: 0;
  }
}

.house-promo .wrapper {
  display: flex;
  flex-flow: column-reverse nowrap;
  position: relative;

  @media (min-width: $small-desktop-width) {
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
  }
}

.house-promo__text {
  flex-basis: 31.25%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-self: center;
  text-align: center;

  @media (min-width: $small-desktop-width) {
    align-items: flex-start;
    align-self: flex-start;
    text-align: start;
  }
}

.house-promo__title {
  // visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  cursor: default;

  @include font-title-main($line-height: 64px);

  @media (min-width: $small-desktop-width) {
    position: static;
    width: auto;
    height: auto;
    margin: 0 0 16px;
    border: unset;
    clip: auto;
    overflow: initial;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 12px;
  }

  .house-promo--pending & {
    margin-bottom: 16px;
  }
}

.house-promo__title-gentext {
  display: none;

  @media (min-width: $small-desktop-width) {
    display: initial;
  }
}

.house-promo__title-alttext {
  @media (min-width: $small-desktop-width) {
    display: none;
  }
}

.house-promo__title-descr {
  align-self: flex-start;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  padding: 11px 23px;
  background-color: $palette-accent;
  border-radius: 20px 0;
  transform: translate(-50%, -35%);
  z-index: 2;

  @include font-title-main;

  @media (min-width: $small-desktop-width) {
    position: static;
    margin-bottom: 65px;
    padding: 14px 28px;
    border-radius: 20px 0;
    transform: translate(0);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    padding: 15px 33px 8px 28px;
    border-radius: 30px 0;
  }

  .house-promo--pending & {
    color: $palette-darkcontrast;

    @media (min-width: $small-desktop-width) {
      position: static;
      margin-bottom: 110px;
      padding: 21px 33px 10px;
      border-radius: 25px 0;
      transform: translate(0);
    }
  }
}

.house__summary {
  padding: 0 10px;
  margin-bottom: 9px;
  color: $palette-darkcontrast;
  font-size: 16px;
  line-height: 18px;
  text-align: start;

  @media (min-width: $small-desktop-width) {
    min-height: 155px;
    margin-bottom: 35px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 159px;
  }

  & p {
    margin: 9.5px 0;
  }
}

.house-promo__price {
  margin: 0;
  padding: 18px 0 10px;

  @include font-title-main($color: $palette-dim);

  @media (min-width: $small-desktop-width) {
    padding: 36px 0 10px;
    border-top: 1px solid $palette-darkcontrast;
    font-size: 61.5px;
    word-spacing: -0.07em;
  }

  @media (min-width: $desktop-width) {
    padding: 42px 0 10px;
    font-size: 64px;
  }
}

.house-promo--pending .house-promo__price {
  padding-bottom: 0;
  color: $palette-brightcontrast;

  @media (min-width: $small-desktop-width) {
    padding: 0 0 10px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 5px;
  }
}

.house-promo__soon-block {
  display: none;

  @include font-title-small;

  @media (min-width: $small-desktop-width) {
    display: block;
    order: -1;
    text-transform: uppercase;
    margin: 4px 0 108px;
  }
}

.house-promo__status {
  margin: 0;
  padding: 40px 0 10px;
  width: 100%;
  text-transform: uppercase;

  @include font-title-small($size: 18px, $color: $palette-dim);

  @media (min-width: $small-desktop-width) {
    border-top: 1px solid $palette-dim;
    font-size: 18px;
  }
}

.house-promo__slider {
  width: 100%;
  margin: 0 0 31px;
  overflow: hidden;

  @media (min-width: $small-desktop-width) {
    display: none;
  }
}

.house-promo__slider-list {
  @include list;
}

.house-promo__slider-item {
  line-height: 0;
}

.house-promo__slider-img {
  width: 100%;
}

.house-promo__images-list {
  @include list;

  display: none;

  @media (min-width: $small-desktop-width) {
    padding-top: 9px;
    flex-basis: 65.625%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: 4.76%;
  }
}

.house-promo__images-item {
  width: 360px;
  height: 218px;
  line-height: 0;

  @media (min-width: $small-desktop-width) {
    width: auto;
    height: auto;
    margin: 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 50px;
  }
}

.house-promo__images-item:nth-of-type(1) {
  flex-basis: 100%;
  align-self: flex-start;

  @media (min-width: $small-desktop-width) {
    height: 290px;
  }

  @media (min-width: $desktop-width) {
    height: 422px;
  }
}

.house-promo__images-item:nth-of-type(2) {
  max-width: 47.61%;

  @media (min-width: $small-desktop-width) {
    height: 193px;
  }

  @media (min-width: $desktop-width) {
    height: 281px;
  }
}

.house-promo__images-item:nth-of-type(3) {
  max-width: 47.61%;
}

.house-promo--pending .house-promo__images-item {
  height: 485px;
}

.house-promo--big .house-promo__images-item:nth-of-type(1) {
  @media (min-width: $small-desktop-width) {
    height: 355px;
  }

  @media (min-width: $desktop-width) {
    height: 560px;
  }
}

.house-promo--big .house-promo__images-item:nth-of-type(2) {
  @media (min-width: $small-desktop-width) {
    height: 260px;
  }

  @media (min-width: $desktop-width) {
    height: 379px;
  }
}

.house-promo__images-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
