.order {
  position: relative;
  color: $palette-prime;
  background-color: $palette-secondary;
  padding: 29px 0 40px;
  min-height: 313px;

  @media (min-width: $small-desktop-width) {
    padding: 72px 0 108px;
  }

  @media (min-width: $desktop-width) {
    padding: 125px 0 128px;
  }
}

.order .wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 3.125%;

  @media (min-width: $small-desktop-width) {
    flex-flow: row wrap;
  }
}

.order__title {
  box-sizing: border-box;
  margin: 0 0 39px;
  padding: 0 10%;
  text-align: center;

  @include font-title-middle($color: $palette-darkcontrast);

  @media (min-width: $small-desktop-width) {
    width: 31.25%;
    padding: 22px 22px 0 0;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    width: 31.25%;
    padding: 22px 50px 0 0;
  }
}

.order__container {
  @media (min-width: $small-desktop-width) {
    width: 345px;
    padding-top: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 233px;
    padding-top: 0;
  }
}

.order__form {
  padding: 0 0 10px;
  background-color: transparent;

  @media (min-width: $small-desktop-width) {
    width: 100%;
  }
}

.order__fieldset {
  padding: 0;
}
