.offer {
  background-color: $palette-secondary;
  color: $palette-darkcontrast;
  padding: 34px 0 8px;

  @media (min-width: $small-desktop-width) {
    padding: 91px 0 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 152px 0 44px;
  }
}

.offer__title {
  margin: 0 0 15px;
  text-align: center;

  @include font-title-middle;

  @media (min-width: $small-desktop-width) {
    margin: 0 0 50px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 70px;
  }
}

.offer__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1.5%;

  @media (min-width: $small-tablet-width) {
    justify-content: space-around;
    gap: 7%;
  }

  @media (min-width: $tablet-width) {
    justify-content: space-evenly;
    gap: 15%;
  }

  @media (min-width: $small-desktop-width) {
    justify-content: space-between;
    gap: 1.5%;
  }
}

.offer__item {
  flex-basis: 100px;
  text-align: center;
  margin: 19px 0 14px;
  padding: 61px 0 0;
  background: url("../img/domy-icons-houses.svg") no-repeat center 3px;
  background-size: 46.5%;

  @media (min-width: $small-desktop-width) {
    flex-basis: 31.5%;
    margin: 0 0 46px;
    padding: 110px 0 0;
    background-size: unset;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 14.1%;
    margin: 0 0 100px;
  }
}

.offer__item--houses {
  background-image: url("../img/domy-icons-houses.svg");
}

.offer__item--difficulty {
  background-image: url("../img/domy-icons-difficulty.svg");
}

.offer__item--escort {
  background-image: url("../img/domy-icons-escort.svg");
}

.offer__item--prod {
  background-image: url("../img/domy-icons-production.svg");
}

.offer__item--arch {
  background-image: url("../img/domy-icons-architect.svg");
}

.offer__item--guarantee {
  background-image: url("../img/domy-icons-guarantee.svg");
}

.offer__container {
  padding: 0 2px;

  @media (min-width: $small-desktop-width) {
    padding: 0 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 20px;
  }
}

.offer__name {
  @include font-primary;

  margin-bottom: 15px;
}

.offer__descr {
  // visually hidden
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  @include font-primary($size: 10px);

  @media (min-width: $small-desktop-width) {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0 40px;
    clip: auto;
    overflow: auto;
    opacity: 0.5;
    font-size: 14px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.offer__item--houses .offer__descr {
  padding: 0;

  @media (min-width: $small-desktop-width) {
    padding: 0 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 5px;
  }
}

.offer__item--houses .offer__name,
.offer__item--arch .offer__name,
.offer__item--guarantee .offer__name {
  padding: 0 5px;

  @media (min-width: $small-desktop-width) {
    padding: 0 105px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 35px;
  }
}

.offer__item--difficulty .offer__name,
.offer__item--escort .offer__name,
.offer__item--prod .offer__name {
  padding: 0;

  @media (min-width: $small-desktop-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}
