:root {
  --decor-animation-timing1: 12s;
  --decor-animation-timing2: 9s;
  --decor-rotation-shift: 12px;

  @media (min-width: $small-desktop-width) {
    --decor-animation-timing1: 18s;
    --decor-animation-timing2: 13.5s;
    --decor-rotation-shift: 18px;
  }

  @media (min-width: $desktop-width) {
    --decor-rotation-shift: 20px;
  }
}

.faq {
  padding: 29px 0;
  color: $palette-darkcontrast;
  background-color: $palette-brightcontrast;

  @media (min-width: $small-desktop-width) {
    padding: 57px 0 140px;
  }

  @media (min-width: $desktop-width) {
    padding: 108px 0 140px;
  }
}

.faq .wrapper {
  position: relative;
  display: flex;
  flex-flow: column nowrap;

  @media (min-width: $small-desktop-width) {
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    gap: 3.125%;
  }
}

.faq__title-container {
  position: relative;
  width: 100%;
  min-height: 164px;

  @media (min-width: $small-desktop-width) {
    width: 40%;
  }

  @media (min-width: $desktop-width) {
    width: 31.25%;
  }
}

.faq__title {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  z-index: 2;

  @include font-title-main;

  @media (min-width: $small-desktop-width) {
    padding-top: 32px;
    font-size: 50px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding-top: 42px;
    line-height: 55px;
  }
}

@keyframes spin-around {
  from {
    transform: rotate(0deg) translate3d(var(--decor-rotation-shift), 0, 0);
  }

  to {
    transform: rotate(360deg) translate3d(var(--decor-rotation-shift), 0, 0);
  }
}

@keyframes rotate-self {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.faq__decor {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.faq__decor--1 {
  width: 114px;
  height: 143px;
  transform: translate3d(-19px, 0, 0);

  @media (min-width: $small-desktop-width) {
    width: 291px;
    height: 365px;
    transform: translate3d(0, 0, 0);
  }

  @media (min-width: $small-desktop-width) {
    transform: translate3d(-30px, 0, 0);
  }
}

.faq__decor--2 {
  width: 57px;
  height: 71px;
  transform: translate3d(36px, 93px, 0);

  @media (min-width: $small-desktop-width) {
    width: 145px;
    height: 181px;
    transform: translate3d(129px, 234px, 0);
  }

  @media (min-width: $small-desktop-width) {
    transform: translate3d(99px, 234px, 0);
  }
}

.faq__decor-container,
.faq__decor-back-image {
  width: 100%;
  height: 100%;
}

.faq__decor-container {
  animation: spin-around linear infinite;

  .faq__decor--1 & {
    animation-duration: var(--decor-animation-timing1);
    animation-direction: normal;
  }

  .faq__decor--2 & {
    animation-duration: var(--decor-animation-timing2);
    animation-direction: reverse;
  }
}

.faq__decor-back-image {
  background-size: cover;
  animation: rotate-self linear infinite;

  .faq__decor--1 & {
    background-image: url("../img/question.svg");
    animation-duration: var(--decor-animation-timing1);
    animation-direction: normal;
  }

  .faq__decor--2 & {
    background-image: url("../img/question-small.svg");
    animation-duration: var(--decor-animation-timing2);
    animation-direction: reverse;
  }
}

.faq__category-list {
  @include list;

  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  padding: 10px 5px 0;
  width: 100%;
  min-height: 575px;

  @media (min-width: $small-desktop-width) {
    padding: 0;
    width: 50.55%;
    min-height: 480px;
  }

  @media (min-width: $desktop-width) {
    width: 34.5625%;
    min-height: 540px;
    padding-top: 56px;
  }
}

.faq__item {
  @include font-primary($color: $palette-darkcontrast);

  font-size: 16px;
  margin-bottom: 9px;
  border-bottom: 1px solid $palette-darkcontrast;

  &:--empty {
    border-bottom: 1px solid transparent;
    pointer-events: none;
  }
}

.faq__item-name {
  @include font-title-small;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 9.5px 0;
  width: 100%;
  font-weight: 800;
  text-align: start;
  word-break: normal;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  &::after {
    content: "+";
  }

  .faq__item--open &::after {
    content: "-";
  }

  .faq__item--empty &::after {
    content: "";
  }
}

.faq__item-name span {
  max-width: 92%;

  @media (min-width: $small-desktop-width) {
    max-width: 75%;
  }
}

.faq__item-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-out, max-height 0.42s ease;

  .faq__item--open & {
    opacity: 1;
  }
}

.faq__item-content p {
  margin: 0 0 19px;
  padding: 0;
}
