.order {
  position: relative;
  color: $palette-prime;
  background-color: $palette-secondary;
  padding: 142px 0 150px;
  min-height: 313px;
}

.order::after {
  content: "";
  position: absolute;
  width: calc(100vw / $desktop-width * 786px);
  height: calc(100vw / $desktop-width * 831px);
  right: 0;
  top: -15%;
  background: transparent url("../img/bigbrun-xl.svg") no-repeat center;
}

.order .wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 3.125%;
}

.order .wrapper > * {
  flex-basis: 31.25%;
}

.order__title {
  @include font-title-middle($color: $palette-darkcontrast);

  margin: 0;
}

.order__form {
  max-width: 233px;
  padding: 0 0 10px;
  background-color: transparent;
}

.order__fieldset {
  padding: 0 8px 0 0;
}
