.house-promo {
  padding: 50px 0 12px;

  @include font-primary;

  @media (min-width: $small-desktop-width) {
    padding: 142px 0 100px;
  }
}

.house-promo--pending {
  position: relative;
  padding: 50px 0 40px;
  color: $palette-brightcontrast;
  background-color: $palette-prime;

  @media (min-width: $small-desktop-width) {
    padding-top: 77px;
  }
}

.house-promo--pending::after {
  content: "";
  position: absolute;
  width: calc(100vw / $mobile-width * 271px);
  height: calc(100vw / $mobile-width * 433px);
  left: -22%;
  bottom: -3%;
  background: transparent url("../img/bigbrun-pending-xl.svg") no-repeat center;
  z-index: 2;

  @media (min-width: $small-desktop-width) {
    width: calc(100vw / $desktop-width * 770px);
    height: calc(100vw / $desktop-width * 750px);
    left: -0.4%;
    bottom: -32.7%;
  }
}

.house-promo .wrapper {
  display: flex;
  flex-flow: column-reverse nowrap;
  position: relative;

  @media (min-width: $small-desktop-width) {
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
  }
}

.house-promo__text {
  flex-basis: 31.25%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  align-self: center;
  text-align: center;

  @media (min-width: $small-desktop-width) {
    align-self: flex-start;
    text-align: start;
  }
}

.house-promo__title {
  // visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  cursor: default;

  @include font-title-main($line-height: 64px);

  @media (min-width: $small-desktop-width) {
    position: static;
    width: auto;
    height: auto;
    margin: 0 0 12px;
    border: unset;
    clip: auto;
    overflow: initial;
  }

  .house-promo--pending & {
    margin-bottom: 16px;
  }
}

.house-promo__title-gentext {
  display: none;

  @media (min-width: $small-desktop-width) {
    display: initial;
  }
}

.house-promo__title-alttext {
  @media (min-width: $small-desktop-width) {
    display: none;
  }
}

.house-promo__title-descr {
  align-self: flex-start;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  padding: 11px 23px;
  background-color: $palette-accent;
  border-radius: 20px 0;
  transform: translate(-50%, -35%);
  z-index: 2;

  @include font-title-main;

  @media (min-width: $small-desktop-width) {
    position: static;
    margin-bottom: 147px;
    padding: 21px 28px;
    border-radius: 30px 0;
    transform: translate(0);
  }

  .house-promo--pending & {
    color: $palette-darkcontrast;

    @media (min-width: $small-desktop-width) {
      position: static;
      margin-bottom: 110px;
      padding: 27px 33px 10px;
      border-radius: 30px 0;
      transform: translate(0);
    }
  }
}

.house-promo__price {
  margin: 0;
  padding: 18px 0 10px;

  @include font-title-main($color: $palette-dim);

  @media (min-width: $small-desktop-width) {
    padding: 42px 0 10px;
    border-top: 1px solid $palette-darkcontrast;
  }
}

.house-promo__soon-block {
  display: none;

  @include font-title-small;

  @media (min-width: $small-desktop-width) {
    display: block;
    order: -1;
    text-transform: uppercase;
    margin: 4px 0 108px;
  }
}

.house-promo__status {
  margin: 0;
  padding: 50px 0 10px;
  width: 100%;
  text-transform: uppercase;

  @include font-title-small($size: 18px);

  @media (min-width: $small-desktop-width) {
    border-top: 1px solid $palette-brightcontrast;
    font-size: 18px;
  }
}

.house-promo__slider {
  width: 100%;
  overflow: hidden;

  @media (min-width: $small-desktop-width) {
    display: none;
  }
}

.house-promo__slider-list {
  @include list;
}

.house-promo__slider-item {
  line-height: 0;
}

.house-promo__slider-img {
  width: 100%;
}

.house-promo__images-list {
  @include list;

  display: none;

  @media (min-width: $small-desktop-width) {
  padding-top: 9px;
  flex-basis: 65.625%;
  display: flex;
  flex-flow: row wrap;
  column-gap: 4.76%;
  }
}

.house-promo__images-item {
  width: 360px;
  height: 218px;
  margin: 0 0 50px;
  line-height: 0;

  @media (min-width: $small-desktop-width) {
    width: auto;
    height: auto;
  }
}

.house-promo__images-item:nth-of-type(1) {
  flex-basis: 100%;
  height: 218px;

  @media (min-width: $small-desktop-width) {
    height: 422px;
  }
}

.house-promo__images-item:nth-of-type(2) {
  max-width: 47.61%;
  height: 281px;
}

.house-promo__images-item:nth-of-type(3) {
  max-width: 47.61%;
  align-self: center;
}

.house-promo__images-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.house-promo--pending .house-promo__images-item {
  height: 485px;
}
