.main-promo {
  position: relative;
  color: $palette-brightcontrast;
  background-color: $palette-prime;
  overflow: hidden;

  @media (min-width: $small-desktop-width) {
    height: 770px;
  }
}

.main-promo__wrapper {
  @include wrapper;

  padding: 0;
  display: flex;
  flex-flow: column nowrap;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-promo__title {
  @include font-title-main($size: 30px, $line-height: 30px);

  margin: 0 0 17px;
  padding: 32px 15% 10px;
  text-align: center;

  @media (min-width: $large-mobile-width) {
    padding: 32px 18% 10px;
  }

  @media (min-width: ($tablet-width - 180)) {
    padding: 32px 23% 10px;
  }

  @media (min-width: ($tablet-width - 70)) {
    padding: 32px 27% 10px;
  }

  @media (min-width: $tablet-width) {
    padding: 32px 10% 10px;
  }

  @media (min-width: $small-desktop-width) {
    max-width: 400px;
    margin: 134px 0 15px;
    padding: 5px 8px;
    font-size: 64px;
    line-height: 68px;
    text-align: left;
  }
}

.main-promo__text-box {
  order: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 72px 10px 34px;

  @include font-primary($line-height: 18px);

  @media (min-width: $small-desktop-width) {
    align-self: flex-start;
    order: 0;
    margin: 0;
    padding: 0 10px;
  }
}

.main-promo__features-list {
  margin: 0 0 8px;
  padding: 0;
  list-style-image: url("data:image/svg+xml,%3Csvg width='6' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2.5' cy='2.5' r='2.5' fill='%23fff'/%3E%3C/svg%3E");

  @media (min-width: $small-desktop-width) {
    margin: 0 0 24px;
    padding: 0 4px 0 0;
  }
}

.main-promo__features-item {
  margin: 11px 0;
  padding: 0 6px 0 0;
  font-size: 16px;

  @media (min-width: $small-desktop-width) {
    margin: 11px 0;
    padding: 0;
  }
}

.main-promo__button {
  width: 100%;
  padding: 11px;
  color: $palette-darkcontrast;
  border: 1px solid $palette-darkcontrast;
  background-color: $palette-accent;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  transition: color 0.3s, background-color 0.42s;

  @media (min-width: $small-desktop-width) {
    padding: 10px 0 8px;
  }

  &:hover {
    color: $palette-brightcontrast;
    background-color: $palette-prime;
  }
}

.main-promo__slider {
  display: block;
  line-height: 0;

  @media (min-width: $small-desktop-width) {
    position: absolute;
    width: 60%;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.main-promo__slider-list {
  @include list;

  height: 261px;
}

.main-promo__slider-item {
  width: 100%;
  height: 100%;

  @media (min-width: $small-desktop-width) {
    height: 770px;
  }
}

.main-promo__slider-item:nth-child(1) {
  background: linear-gradient(10deg,#7F8C44,#caad7a,#979F7A);
}

.main-promo__slider-image {
  height: 100%;
  object-fit: cover;
}

.main-promo__slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 28px;
  bottom: 5%;
  right: 13%;

  @include list;
}

.main-promo__slider-button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  line-height: 0;
}

.main-promo__slider-button--r {
  transform: rotate(180deg);
}

.main-promo__container-center {
  position: absolute;
  top: 335px;
  left: 8%;
  padding: 0;
  color: $palette-darkcontrast;
  background-color: $palette-secondary;
  border-radius: 35px 0;

  @media (min-width: $tablet-width) {
    top: 307px;
  }

  @media (min-width: $small-desktop-width) {
    top: 50%;
    left: 50%;
    min-width: 18.5%;
    transform:translate(-39%, -45%);
    padding: 35px 76px 39px 69px;
    border-radius: 120px 0;
  }

  @media (min-width: $desktop-width) {
    transform:translate(-64%, -48.9%);
  }
}

a.promo-description__link {
  display: inline-block;
  width: 100%;
  padding: 12px 60px 12px 10px;
  border-radius: 5px;
  font-size: 14px;
  color: $palette-brightcontrast;
  text-transform: uppercase;
  background: $palette-prime url("../img/arrow-bw.svg") no-repeat center right 17%;
  transition: color 0.3s, background 0.42s;

  &:hover {
    color: $palette-darkcontrast;
    background: $palette-accent url("../img/arrow-bb.svg") no-repeat center right 14%;
  }
}
