.house-characteristics {
  padding: 18px 0 7px;
  background-color: $palette-secondary;

  @include font-primary;

  @media (min-width: $small-desktop-width) {
    padding: 142px 0 150px;
  }
}

.house-characteristics .wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.house-characteristics__title {
  display: none;

  @include font-title-middle;

  @media (min-width: $small-desktop-width) {
    display: block;
    margin: 0 0 62px;
    flex-basis: 100%;
    padding: 142px 0 150px;
  }
}

.house-characteristics__description {
  flex-basis: 100%;

  @media (min-width: $small-desktop-width) {
    flex-basis: 31.25%;
  }
}
