.contacts {
  padding: 28px 0 30px;
  color: $palette-darkcontrast;
  background-color: $palette-brightcontrast;

  @media (min-width: $small-desktop-width) {
    padding: 52px 0;
    align-items: stretch;
  }

  @media (min-width: $desktop-width) {
    padding: 150px 0 100px;
  }
}

.contacts .wrapper--ext {
  display: flex;
  flex-flow: column nowrap;

  @media (min-width: $small-desktop-width) {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.contacts__map {
  height: 293px;

  @media (min-width: $tablet-width) {
    height: 500px;
  }

  @media (min-width: $small-desktop-width) {
    height: unset;
    flex-basis: 51.18%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 65.625%;
  }
}

.contacts__list {
  flex-basis: 100%;

  @include list;

  margin-bottom: 40px;

  @media (min-width: $small-desktop-width) {
    flex-basis: 45.73%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 31.25%;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px;
  padding: 0 3px 5px;
  border-bottom: 1px solid transparent;

  @media (min-width: $small-desktop-width) {
    margin: 0 0 52px;
    padding: 0 3px 30px;
    border-color: $palette-darkcontrast;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 30px;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-color: transparent;
  }
}

.contacts__item-title {
  @include font-title-main;

  margin: 0 0 10px;
  text-align: center;

  @media (min-width: $small-desktop-width) {
    margin: 0 0 25px;
    font-size: 50px;
    line-height: 55px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 18px;
  }
}

.contacts__item-bigphone {
  @include font-title-main;

  margin: 0 0 25px;
  text-align: center;
  text-decoration: none;

  @media (min-width: $small-desktop-width) {
    margin: 5px 0 20px;
    transform: translateX(-31px);
    font-size: 50px;
    line-height: 55px;
    text-align: start;
  }
}

.contacts__item-title--tel {
  @media (min-width: $small-desktop-width) {
    transform: translateX(-31px);
  }
}

.contacts__item-title a {
  text-decoration: none;
}

.contacts__item-text {
  @include font-primary;

  margin: 0 0 25px;
  padding: 0;
  border-bottom: 1px solid transparent;
  font-size: 16px;
  text-align: center;

  @media (min-width: $small-desktop-width) {
    padding: 5px 0;
    font-size: 16px;
    text-align: start;
  }
}

.contacts__item-text--link {
  margin: 0 auto;
  padding: 0 0 6px;
  border-bottom: 1px solid $palette-darkcontrast;
  text-decoration: none;

  @media (min-width: $small-desktop-width) {
    margin: 0 auto 20px 0;
    padding: 1px 0 6px;
  }
}
