.house-promo {
  @include font-primary;

  padding: 142px 0 100px;
}

.house-promo .wrapper {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
}

.house-promo__text {
  flex-basis: 31.25%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.house-promo__title {
  @include font-title-main($line-height: 64px);

  margin: 0 0 12px;
}

.house-promo__title-descr {
  @include font-title-main($line-height: 64px);

  align-self: flex-start;
  display: block;
  margin-bottom: 148px;
  padding: 23px 28px;
  background-color: $palette-accent;
  border-radius: 30px 0;
}

.house-promo__price {
  @include font-title-main($color: $palette-dim, $line-height: 64px);

  margin: 0;
  padding: 42px 0 10px;
  border-top: 1px solid $palette-darkcontrast;
}

.house-promo__images-list {
  @include list;

  padding-top: 9px;
  flex-basis: 65.625%;
  display: flex;
  flex-flow: row wrap;
  column-gap: 4.76%;
}

.house-promo__images-item {
  margin: 0 0 50px;
  line-height: 0;
}

.house-promo__images-item:nth-of-type(1) {
  flex-basis: 100%;
  height: 422px;
}

.house-promo__images-item:nth-of-type(2) {
  max-width: 47.61%;
  height: 281px;
}

.house-promo__images-item:nth-of-type(3) {
  max-width: 47.61%;
  align-self: center;
}

.house-promo__images-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// .house-promo--30 .house-promo__images-item:nth-of-type(3) {
//   max-height: 209px;
//   align-self: center;
// }
