.instock {
  background-color: $palette-brightcontrast;
  color: $palette-darkcontrast;
  padding: 39px 0 150px;
  text-align: center;

  @media (min-width: $small-desktop-width) {
    padding: 142px 0 150px;
    text-align: start;
  }

  .index-main & {
    padding-bottom: 0;
  }
}

.instock__title {
  margin: 0 0 28px;
  padding: 0;

  @include font-title-middle;

  @media (min-width: $small-desktop-width) {
    margin: 0 0 65px;
  }
}

.instock__list {
  @include list;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.instock__item {
  margin: 0 0 30px;
}

.instock__item-box {
  margin: 0;
  padding: 0;
  position: relative;
}

.instock__item-link {
  position: absolute;
  inset: 0;
  z-index: 1;
  text-decoration:  none;
}

.instock__item-image {
  height: 185px;
  margin: 0 0 5px;
  line-height: 0;
  object-fit: cover;

  @media (min-width: $small-desktop-width) {
    width: 347px;
    height: 235px;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
    height: 343px;
  }
}

.instock__item:nth-child(1) .instock__item-image {
  background: linear-gradient(20deg, #A4B571, #A3ABB4);
}

.instock__item:nth-child(2) .instock__item-image {
  background: linear-gradient(20deg, #594C4C, #F5DDB1);
}

.instock__item:nth-child(3) .instock__item-image {
  background: linear-gradient(20deg, #6E8260, #ADB1BA);
}

.instock__item-name {
  position: absolute;
  top: 5%;
  left: 2%;
  padding: 7px 20px 8px 15px;
  background-color: $palette-accent;
  border-radius: 16px 0;
  margin: 0;
  transition-property: transform, top, left;
  transition-duration: 1.5s;

  @include font-title-middle;

  @media (min-width: $small-desktop-width) {
    top: 2.5%;
    padding: 11px 21px 11px 20px;
    border-radius: 20px 0;
  }

  @media (min-width: $desktop-width) {
    border-radius: 30px 0;
  }

  .instock__item:hover & {
    top: 1.5%;
    left: 1%;
    transform: scale(0.75);
  }
}

.instock__item-name span:first-of-type {
  letter-spacing: 0.06em;
}

.instock__item-name span:nth-child(2) {
  letter-spacing: -0.06em;
}

.instock__item-under {
  display: flex;
  flex-flow: row nowrap;
}

.instock__item-underline {
  flex-grow: 1;
  position: relative;
  padding: 0;
  margin: 0 auto 0 0;
  background-color: transparent;
}

.instock__item-underline::before {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  top: 49%;
  background-color: $palette-darkcontrast;
}

.instock__item-price {
  margin: 0 1.5% 0 0;
  padding: 0 0 0 7px;
  transition: margin 1.1s;

  @include font-primary($size: 16px, $line-height: 20px, $weight: 800);

  @media (min-width: $small-desktop-width) {
    padding: 6px 8px 5px 10px;
    font-size: 24px;
    line-height: 29px;
  }

  .instock__item:hover & {
    margin-right: 0;
  }
}
