.widget-headset {
  position: fixed;
  top: 432px;
  right: 30px;
  z-index: 90;
  transition-property: transform, top, bottom, left, right;
  transition-duration: 0.75s;

  @media (min-width: $small-desktop-width) {
    width: 64px;
    height: 64px;
    top: 745px;
    right: 4%;
  }

  @media (min-width: $desktop-width) {
    top: 704px;
    right: 2.5%;
  }

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

body :not(.index-main)  .widget-headset,
.widget-headset--sticky {
  top: calc(97% - 46px);
  right: calc(2%);

  @media (min-width: $small-desktop-width) {
    top: calc(95% - 64px);
    right: 2%;
  }
}

.widget-headset img {
  width: 46px;
  height: 46px;

  @media (min-width: $small-desktop-width) {
    width: 64px;
    height: 64px;
  }
}
