.widget-headset {
  position: fixed;
  top: 540px;
  right: 10px;
  z-index: 90;
  filter: drop-shadow(1px 2px 2px $palette-prime);
  transition-property: transform, top, bottom, left, right, opacity;
  transition-duration: 0.75s;

  @media (min-width: $small-desktop-width) {
    width: 64px;
    height: 64px;
    top: 100px;
    right: 2%;
    filter: drop-shadow(2px 3px 4px $palette-prime);
  }

  @media (min-width: $desktop-width) {
    top: 110px;
    right: 2.5%;
  }

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

body :not(.index-main) .widget-headset,
.widget-headset--sticky {
  transform: scale(0.8);
  top: calc(97% - 46px);
  right: 2%;

  @media (min-width: $small-desktop-width) {
    top: calc(95% - 64px);
    right: 2%;
  }
}

.widget-headset img {
  width: 46px;
  height: 46px;

  @media (min-width: $small-desktop-width) {
    width: 64px;
    height: 64px;
  }
}

.widget-headset--hidden {
  transform: scale(0);
  opacity: 0;
}
