@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    local('Gilroy Light'),
    local('Gilroy-Light'),
    url("../fonts/Gilroy_Light.woff2") format("woff2"),
    url("../fonts/Gilroy_Light.woff") format("woff"),
    url('../fonts/Gilroy_Light.ttf') format('opentype');
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    local('Gilroy ExtraBold'),
    local('Gilroy-ExtraBold'),
    url("../fonts/Gilroy_ExtraBold.woff2") format("woff2"),
    url("../fonts/Gilroy_ExtraBold.woff") format("woff"),
    url('../fonts/Gilroy_ExtraBold.ttf') format('opentype');
}
