@mixin font-primary($size: 12px, $line-height: unset, $weight: 300, $color: inherit) {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;

  @media (min-width: $small-desktop-width) {
    font-size: math.ceil($size * 1.33);
  }
}

@mixin font-title-main($size: 30px, $line-height: 107%, $weight: 800, $color: inherit) {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;

  @media (min-width: $small-desktop-width) {
    font-size: math.ceil($size * 2.13);
    line-height: $line-height - 1;
  }
}

@mixin font-title-middle($size: 24px, $line-height: 117%, $weight: 800, $color: inherit) {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;

  @media (min-width: $small-desktop-width) {
    font-size: math.ceil($size * 2.08);
    line-height: $line-height - 7;
  }
}

@mixin font-title-small($size: 16px, $line-height: initial, $weight: 800, $color: inherit) {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;

  @media (min-width: $small-desktop-width) {
    font-size: math.ceil($size * 0.875);
  }

  @media (min-width: $desktop-width) {
    font-size: math.ceil($size * 1.125);
  }
}

@mixin list() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin wrapper {
  margin: auto;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    padding: 0 5%;
  }

  @media (min-width: $small-desktop-width) {
    max-width: $small-desktop-content;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-content;
    padding: 0;
  }

  &--ext {
    margin: auto;
    padding: 0;

    @media (min-width: $small-desktop-width) {
      max-width: $small-desktop-content;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      max-width: $desktop-content;
      padding: 0;
    }
  }

}
