// Colors
// color-binding
$taup: #5A5655;
$beige: #e7e4dF;
$gray: #999999;
$lgrey: #ececec;
$yellow: #fff000;

// layout variables
$palette-prime: $taup;
$palette-secondary: $beige;
$palette-accent: $yellow;
$palette-dim: $gray;
$palette-back: $lgrey;
$palette-darkcontrast: #000000;
$palette-brightcontrast: #ffffff;

// Content
// Viewports
$mobile-width: 360px;
$tablet-width: 660px;
$small-desktop-width: 1200px;
$desktop-width: 1920px;

// content
$mobile-content: $mobile-width - 20; // 340
$tablet-content: $tablet-width - 30; // 630
$small-desktop-content: $small-desktop-width - 100; // 1100
$desktop-content: $desktop-width - 320; // 1600
