extends page-layout.pug

block prepend variables

  block houseVariables

block main
  main.main.index-main

    block houseContent

    include section-basequipment.pug
    include section-basequipment-not.pug
