extends blocks/--houses.pug

block houseVariables
  - const currentPage = PAGES["30m"].pageHref;
  - const houseData = HOUSES_DATA["30m"]
  - const pageTitle = houseData.title;
  - const pageDescription = houseData.description;
  - const classModifier = "--30";
  - const descrRu = "30 м²";
