section.technology__intro
  .wrapper
    if technologyPage
      h1.technology__title.animated-appearance Наши преимущества
    else
      h2.technology__title.animated-appearance Наши преимущества
    ul.technology__list
      li.technology__item.animated-appearance
        .technology__icon
          img(src="./img/domy-icons-logistik.svg", width="81", height="48", alt="Пиктограмма с грузовым автомобилем.")
        p.technology__descr Производство <br>полного цикла. Удобная логистика
      li.technology__item.animated-appearance
        .technology__icon
          img(src="./img/domy-icons-qc.svg", width="81", height="48", alt="Пиктограмма 'знак качества'.")
        p.technology__descr Тщательный контроль <br>качества на всех этапах производства
      li.technology__item.animated-appearance
        .technology__icon
          img(src="./img/domy-icons-90finished.svg", width="81", height="48", alt="Пиктограмма грузовика перевозящего дом.")
        p.technology__descr Дом привозится <br>на 90% готовым
      li.technology__item.animated-appearance
        .technology__icon
          img(src="./img/domy-icons-nomoisture.svg", width="81", height="48", alt="Пиктограмма с перечёркнутой каплей.")
        p.technology__descr Фабричное производство и наши технологии исключают попадание влаги на дерево и образование грибка
