-
  // данные страниц о домах
  const HOUSES_DATA = {
    "30m": {
      title: "Domy. 30 м²",
      href: "30m",
      header: ["Ваш дом ", "30 м²"],
      price: "1 410 000",
      data: [
        {
          name: "Габариты дома",
          value: "5,2 × 7 м",
          head: true
        },
        {
          name: "Кухня / Гостиная",
          value: "16,9",
          underline: true
        },
        {
          name: "Спальня",
          value: "6,6",
          underline: true
        },
        {
          name: "Санузел",
          value: "3,5",
          underline: true
        },
        {
          name: "Прихожая",
          value: "3,7",
        },
        {
          name: "Срок изготовления",
          value: "25 дней",
          summary: true,
        },
      ],
      picturesFiles: [
        {name: "30m-main-img", dimensions: [1050, 422]},
        {name: "30m-mid-img", dimensions: [500, 281]},
        {name: "30m-small-img", dimensions: [500, 209]},
      ],
      schemeFile: {name: "30m-scheme", dimensions: [658, 631]},
    },
    "45m": {
      title: "Domy. 45 м²",
      href: "45m",
      header: ["Ваш дом ", "45 м²"],
      price: "2 110 000",
      data: [
        {
          name: "Габариты дома",
          value: "8,5 × 7 м",
          head: true
        },
        {
          name: "Кухня / Гостиная",
          value: "20,9",
          underline: true
        },
        {
          name: "Спальня 1",
          value: "8,04",
        },
        {
          name: "Спальня 2",
          value: "8,43",
          underline: true
        },
        {
          name: "Санузел",
          value: "4,72",
          underline: true
        },
        {
          name: "Прихожая",
          value: "3,5",
        },
        {
          name: "Срок изготовления",
          value: "25 дней",
          summary: true,
        },
      ],
      picturesFiles: [
        {name: "45m-main-img", dimensions: [1050, 422]},
        {name: "45m-mid-img", dimensions: [500, 281]},
        {name: "45m-small-img", dimensions: [263, 350]},
      ],
      schemeFile: {name: "45m-scheme", dimensions: [778, 600]}
    },
    "60m": {
      title: "Domy. 60 м²",
      href: "60m",
      header: ["Ваш дом ", "60 м²"],
      price: "2 990 000",
      data: [
        {
          name: "Габариты дома",
          value: "10,1 × 7 м",
          head: true
        },
        {
          name: "Кухня / Гостиная",
          value: "28,11",
          underline: true
        },
        {
          name: "Спальня 1",
          value: "11,34",
        },
        {
          name: "Спальня 2",
          value: "10,6",
          underline: true
        },
        {
          name: "Санузел 1",
          value: "6,01",
        },
        {
          name: "Санузел 2",
          value: "2,82",
          underline: true
        },
        {
          name: "Прихожая",
          value: "3,78",
        },
        {
          name: "Срок изготовления",
          value: "25 дней",
          summary: true,
        },
      ],
      picturesFiles: [
        {name: "60m-main-img", dimensions: [1050, 422]},
        {name: "60m-mid-img", dimensions: [500, 281]},
        {name: "60m-small-img", dimensions: [501, 209]},
      ],
      schemeFile: {name: "60m-scheme", dimensions: [882, 642]}
    },
    "70m": {
      title: "Domy. 70 м²",
      href: "70m",
      header: ["Ваш дом ", "70 м²"],
      price: "3 440 000",
      data: [
        {
          name: "Габариты дома",
          value: "11,20 × 9,50 м",
          head: true
        },
        {
          name: "Гостиная",
          value: "14,4",
          underline: true
        },
        {
          name: "Спальня 1",
          value: "8,7",
        },
        {
          name: "Спальня 2",
          value: "10,2",
        },
        {
          name: "Спальня 3",
          value: "11,6",
          underline: true
        },
        {
          name: "Кухня",
          value: "14,4",
          underline: true
        },
        {
          name: "Санузел 1",
          value: "1,4",
        },
        {
          name: "Санузел 2",
          value: "8,9",
          underline: true
        },
        {
          name: "Терраса",
          value: "24,4",
        },
        {
          name: "Срок изготовления",
          value: "25 дней",
          summary: true,
        },
      ],
      picturesFiles: [
        {name: "70m-main-img", dimensions: [1050, 422]},
        {name: "70m-mid-img", dimensions: [500, 281]},
        {name: "70m-small-img", dimensions: [500, 209]},
      ],
      schemeFile: {name: "70m-scheme", dimensions: [652, 570]}
    },
    "80m": {
      title: "Domy. 80 м²",
      href: "80m",
      header: ["Ваш дом ", "80 м²"],
      price: "4 110 000",
      data: [
        {
          name: "Габариты дома",
          value: "10,1 × 9 м",
          head: true
        },
        {
          name: "Кухня / Гостиная",
          value: "25,5",
          underline: true
        },
        {
          name: "Спальня 1",
          value: "7,3",
        },
        {
          name: "Спальня 2",
          value: "7,3",
        },
        {
          name: "Спальня 3",
          value: "7,3",
          underline: true
        },
        {
          name: "Санузел",
          value: "3,7",
          underline: true
        },
        {
          name: "Прихожая",
          value: "3,8",
          underline: true
        },
        {
          name: "Котельная",
          value: "7,2",
          underline: true
        },
        {
          name: "Срок изготовления",
          value: "25 дней",
          summary: true,
        },
      ],
      picturesFiles: [
        {name: "80m-main-img", dimensions: [1050, 422]},
        {name: "80m-mid-img", dimensions: [500, 281]},
        {name: "80m-small-img", dimensions: [500, 209]},
      ],
      schemeFile: {name: "80m-scheme", dimensions: [840, 653]}
    },
    "110m": {
      title: "Domy. 110 м²",
      href: "110m",
      header: ["Ваш дом ", "110 м²"],
    },
    "bath": {
      title: "Domy. Баня",
      href: "bath",
      header: ["Ваша баня", "15 м²"],
      price: "1 150 000",
      data: [
        {
          name: "Габариты",
          value: "2,55 × 7 м",
          head: true,
        },
        {
          name: "Парная",
          value: "4,5",
          underline: true,
        },
        {
          name: "Моечная",
          value: "3,4",
          underline: true,
        },
        {
          name: "Комната отдыха",
          value: "4,5",
          underline: true,
        },
        {
          name: "Крыльцо",
          value: "2,6",
          underline: true,
        },
        {
          name: "Срок изготовления",
          value: "25 дней",
          summary: true,
        },
      ],
      picturesFiles: [
        {name: "1bath-main-img", dimensions: [1050, 422]},
        {name: "1bath-mid-img", dimensions: [500, 281]},
        {name: "1bath-small-img", dimensions: [500, 209]},
      ],
      schemeFile: {name: "1bath-scheme", dimensions: [908, 438]}
    },
  }

  // для навигации — названия и имена фалов:
  const PAGES = {
    "index": { name: "Дома", pageHref: "index" },
    "technology": { name: "Технологии и производство", pageHref: "technology" },
    "company": { name: "О компании", pageHref: "company" },
    "faq": { name: "FAQ", pageHref: "faq" },
    "contacts": { name: "Контакты", pageHref: "contacts" },
    "30m": { name: "30 м²", pageHref: "30m" },
    "45m": { name: "45 м²", pageHref: "45m" },
    "60m": { name: "60 м²", pageHref: "60m" },
    "70m": { name: "70 м²", pageHref: "70m" },
    "80m": { name: "80 м²", pageHref: "80m" },
    "110m": { name: "110 м²", pageHref: "110m" },
    "bath": { name: "Баня", pageHref: "bath" },
    "investors": { name: "Инвесторам", pageHref: "investors" },
    "suppliers": { name: "Поставщикам", pageHref: "suppliers" },
    "credit": { name: "Кредитование", pageHref: "credit" },
    "shipping": { name: "Доставка и оплата", pageHref: "shipping" },
  };

  // для ссылок на соцсети:
  const SOCIAL_LINKS = [
    { name: "Вконтакте", cssClass: "vk", href: "https://vk.com/domycompany" },
    { name: "Telegram", cssClass: "tg", href: "https://t.me/domyhouse" },
    { name: "Youtube", cssClass: "ytb", href: "##" },
  ];
