-
  // данные страниц о домах
  const HOUSE_DATA = {
    "30m": {
      title: "Domy. 30 м²",
      price: "1 410 000",
      data: [
        {
          name: "Габариты дома",
          value: "5,2 × 7 м",
          head: true
        },
        {
          name: "Кухня / Гостиная",
          value: "16,9",
          underline: true
        },
        {
          name: "Спальня",
          value: "6,6",
          underline: true
        },
        {
          name: "Санузел",
          value: "3,5",
          underline: true
        },
        {
          name: "Прихожая",
          value: "3,7",
        },
        {
          name: "Срок изготовления",
          value: "25 дней",
          summary: true,
        },
      ],
      picturesFiles: [
        {name: "main-img-30m", dimensions: [1050, 422]},
        {name: "mid-img-30m", dimensions: [500, 281]},
        {name: "small-img-30m", dimensions: [500, 209]},
      ],
      schemeFile: {name: "scheme-30m", dimensions: [658, 631]}
    },
  }

  // для навигации — названия и имена фалов:
  const PAGES = {
    "index": { name: "Дома", pageHref: "index" },
    "technology": { name: "Технологии и производство", pageHref: "technology" },
    "company": { name: "О компании", pageHref: "company" },
    "faq": { name: "FAQ", pageHref: "faq" },
    "contacts": { name: "Контакты", pageHref: "contacts" },
    "30m": { name: "30 м²", pageHref: "30m" },
    "45m": { name: "45 м²", pageHref: "45m" },
    "60m": { name: "60 м²", pageHref: "60m" },
    "70m": { name: "70 м²", pageHref: "70m" },
    "80m": { name: "80 м²", pageHref: "80m" },
    "110m": { name: "110 м²", pageHref: "110m" },
    "bath": { name: "Баня", pageHref: "bath" },
    "investors": { name: "Инвесторам", pageHref: "investors" },
    "suppliers": { name: "Поставщикам", pageHref: "suppliers" },
    "credit": { name: "Кредитование", pageHref: "credit" },
    "shipping": { name: "Доставка и оплата", pageHref: "shipping" },
  };

  // для ссылок на соцсети:
  const SOCIAL_LINKS = [
    { name: "Вконтакте", cssClass: "vk", href: "https://vk.com/domycompany" },
    { name: "Telegram", cssClass: "tg", href: "https://t.me/domyhouse" },
    { name: "Youtube", cssClass: "ytb", href: "##" },
  ];
