-
  const PAGES = {
    "index": { name: "Дома", pageHref: "index" },
    "technology": { name: "Технологии и производство", pageHref: "technology" },
    "company": { name: "О компании", pageHref: "company" },
    "faq": { name: "FAQ", pageHref: "faq" },
    "contacts": { name: "Контакты", pageHref: "contacts" },
    "30m": { name: "30 м²", pageHref: "30m" },
    "45m": { name: "45 м²", pageHref: "45m" },
    "60m": { name: "60 м²", pageHref: "60m" },
    "70m": { name: "70 м²", pageHref: "70m" },
    "80m": { name: "80 м²", pageHref: "80m" },
    "110m": { name: "110 м²", pageHref: "110m" },
    "bath": { name: "Баня", pageHref: "bath" },
    "investors": { name: "Инвесторам", pageHref: "investors" },
    "suppliers": { name: "Поставщикам", pageHref: "suppliers" },
    "credit": { name: "Кредитование", pageHref: "credit" },
    "shipping": { name: "Доставка и оплата", pageHref: "shipping" },
  };
  //- const PAGES = {
  //-   "index": { name: "Domy", pageHref: "index.html" },
  //-   "technology": { name: "Domy: технологии и производство", pageHref: "technology.html" },
  //-   "company": { name: "Domy: строим дома для будущего", pageHref: "company.html" },
  //-   "faq": { name: "Domy: вопросы", pageHref: "faq.html" },
  //-   "contacts": { name: "Domy: контакты", pageHref: "contacts.html" },
  //-   "30m": { name: "Domy: ваш дом 30м²", pageHref: "30m.html" },
  //-   "45m": { name: "Domy: ваш дом 45м²", pageHref: "45m.html" },
  //-   "60m": { name: "Domy: ваш дом 60м²", pageHref: "60m.html" },
  //-   "70m": { name: "Domy: ваш дом 70м²", pageHref: "70m.html" },
  //-   "80m": { name: "Domy: ваш дом 80м²", pageHref: "80m.html" },
  //-   "110m": { name: "Domy: ваш дом 110м²", pageHref: "110m.html" },
  //-   "bath": { name: "Domy: ваша баян", pageHref: "bath.html" },
  //- };
  const SOCIAL_LINKS = [
    { name: "Вконтакте", cssClass: "vk", href: "https://vk.com/domycompany" },
    { name: "Telegram", cssClass: "tg", href: "https://t.me/domyhouse" },
    { name: "Youtube", cssClass: "ytb", href: "##" },
  ];
