include global-constants.pug
include global-mixins.pug

block variables
  - let logoHref = currentPage === 'index' ? false : './index.html';

doctype html
html.page(lang="ru", dir="ltr")
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      meta(name="description", content="Компания DOMY — возводим модульные дома для дач, баз отдыха и туристических компаний. Наше производство находится в городе Хотьково Московской области. Приобретение дома — это легко!")
      title #{pageTitle}
      link(rel="stylesheet", href="./css/style-min.css")
      link(rel="preload" as="font" type="font/woff2" href="./fonts/gilroylight.woff2" crossorigin)
      link(rel="preload" as="font" type="font/woff2" href="./fonts/gilroyextrabold.woff2" crossorigin)
      link(rel="preload" as="script" href="./js/scripts.bundle.js")
      link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
      link(rel="icon" type="image/svg+xml" href="/favicon.svg")
      link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
      link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
      link(rel='manifest' href='/site.webmanifest')
      link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#aaa000')
      meta(name='msapplication-TileColor' content='#fff000')
      meta(name='theme-color' content='#ffffff')


  body.page__body
    include page-header.pug

    block main

    include page-footer.pug

    block popups
      include page-popup-form.pug

    block scripts
      script(src="./js/scripts.bundle.js")
