-
  const advantagesData = [
    {
      imageFileName: "domy-icons-logistik.svg",
      altText: "Пиктограмма с грузовым автомобилем.",
      text: ["Производство ", "полного цикла и удобная логистика"],
    },
    {
      imageFileName: "domy-icons-qc.svg",
      altText: "Пиктограмма 'знак качества'.",
      text: ["Тщательный контроль ", "качества на всех этапах производства"],
    },
    {
      imageFileName: "domy-icons-90finished.svg",
      altText: "Пиктограмма грузовика перевозящего дом.",
      text: ["Дом привозится ", "на 90% готовым"],
    },
    {
      imageFileName: "domy-icons-nomoisture.svg",
      altText: "Пиктограмма с перечёркнутой каплей.",
      text: ["Наши технологии исключают попадание влаги на дерево и образование грибка"],
    },
  ]

section.advantages
  .wrapper
    h2.advantages__title.animated-appearance Наши преимущества
    ul.advantages__list
      each item in advantagesData
        li.advantages__item.animated-appearance
          .advantages__icon
            img(src=`./img/${item.imageFileName}`, width="81", height="48", alt= item.altText)
          p.advantages__descr
            each textBlock in item.text
              span= textBlock
              br
