section.features
  h2.visuallyhidden Наши особенности
  dl.features__list
    dl.features__item
      dt.features__term 9 лет
      <dd class="features__descr">Производим <br>дома</dd>
    dl.features__item
      dt.features__term= ">20"
      <dd class="features__descr">Домов мы строим <br>каждый месяц</dd>
    dl.features__item
      dt.features__term 2–5 дней
      <dd class="features__descr">Длится монтаж <br>дома</dd>
