-
  const alsoData = [
    {
      start: ["В наших домах можно", "комфортно жить круглый год"],
      ext: ["даже в северных регионах России"],
    },
    {
      start: ["Мы значительно сократили", "сроки строительства"],
      ext: ["за счет высокоточного оборудования, и поддерживаем высокий уровень качества изготавливаемых деталей"],
    },
    {
      start: "Наличие готовых проектов",
      ext: ["позволит вам выбрать и получить свой дом", "уже в течение недели"],
    },
  ];

section.also
  .wrapper
    h2.also__title А еще...
    ul.also__list
      each item in alsoData
        li.also__item.animated-appearance
          if Array.isArray(item.start)
            strong.also__point-start
              each fragment in item.start
                span= fragment + " "
                br.also__item-br
          else
            strong.also__point-start= item.start + " "
          span.also__point-ext
            each fragment in item.ext
              span= fragment
              br
