section.order
  .wrapper.animated-appearance
    h2.order__title Закажите&nbsp;дом мечты&nbsp;уже <br>сегодня!
    .order__container
      form.order__form.form(action="https://echo.htmlacademy.ru", method="post", autocomplete="off")
        fieldset.order__fieldset.form__fieldset
          //- honey-pot for spam-bots ↓↓↓↓↓
          input.h#email(type="tel", name="email", placeholder="email", style="display: none")
          input.h#phone(type="tel", name="phone", placeholder="телефон", style="display: none")
          //- honey-pot for spam-bots ↑↑↑↑↑
          each item in WRITEUS_FORM
            +formInput(item)(class="form__simple-input")
        .form__privacy
          input.form__privacy-checkbox.visuallyhidden#form__privacy-checkbox(type="checkbox", name="form-privacy", required="", checked="")
          label.form__privacy-label(for="form__privacy-checkbox")
            | я согласен с
            |
            a.form__privacy-link(href=`${PAGES["privacy"]["pageHref"]}.html`, onclick="return false") политикой конфиденциальности
        input.form__submit.button(type="submit", value="Отправить", disabled=true)
