mixin contactsItemTitle(contactData)
    if contactData["titleType"] === "tel"
      h2.contacts__item-title.contacts__item-title--tel
        a(href=`tel:+${contactData["titleValue"]}`)= contactData["title"]
    else
      h2.contacts__item-title= contactData["title"]

mixin contactsItemText(contactData)
    if contactData["textType"] === "email"
      each item in contactData["text"]
        a.contacts__item-text.contacts__item-text--link(href=`mailto:${contactData["textValue"]}`)= item
    else
      each item in contactData["text"]
        p.contacts__item-text= item

section.contacts
  .wrapper
    ul.contacts__list
      each item in CONTACTS
        - const itemObj = item["data"]
        li.contacts__item
          +contactsItemTitle(itemObj)
          +contactsItemText(itemObj)
    .contacts__map.map
      h2.map__title.visuallyhidden Карта
      .map__container
        a.map__link(href="https://yandex.ru/maps/-/CCUsV8TRDD", target="_blank", rel="noopener") г. Москва, ул. Войкова, 4с1
        iframe.map__iframe(src="https://yandex.ru/map-widget/v1/?ll=37.538647%2C55.852037&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1Njc4NTM3MBI70KDQvtGB0YHQuNGPLCDQnNC-0YHQutCy0LAsINGD0LvQuNGG0LAg0JLQvtC50LrQvtCy0LAsIDTRgTEiCg1KGhZCFTlsX0I%2C&z=13.62", width="1049", height="519", frameborder="1", allowfullscreen="true", style="position:relative;")
