section.reviews
  .wrapper
    h2.reviews__title Отзывы наших клиентов
    .reviews__container
      .reviews__ya
        iframe.reviews__yaiframe(src="https://yandex.ru/maps-reviews-widget/227352490133?comments")
        a.reviews__yalink(href="https://yandex.ru/maps/org/domy/227352490133/", target="_blank") Domy на карте Хотьково — Яндекс Карты
