section.suppliers
  .suppliers__box.wrapper
    h2.suppliers__title
      | Мы работаем
      br
      | с проверенными
      br
      | поставщиками
    img.suppliers__logotypes(src="./img/domy-suppliers.svg", alt="Технониколь, Juta, Rehau, Roto, Neomid", width=340, height=53)
