section.business__section.investors
  .business__container.wrapper
    h2.business__small-title.animated-appearance
      button.button(type="button") Инвесторам
    .business__content
      .business__text.animated-appearance
        p
          strong В последние годы в России активно развивается внутренний туризм, поэтому мы с командой DOMY создаем комфортные условия для инвестирования в наши проекты строительства модульных домов.
        p Вы определяете сумму инвестиций, а мы гарантируем сохранение и увеличение вашего капитала и помогаем организовать прибыльный бизнес с нуля под ключ.
      .business__text.animated-appearance
        p
          strong Наши специалисты помогут вам:
        ul.business__list
          li.business__list-item рассчитать рентабельность и сроки окупаемости проекта;
          li.business__list-item составить бизнес-план;
          li.business__list-item подобрать участок;
          li.business__list-item построить номерной фонд;
          li.business__list-item организовать запуск проекта и маркетинговых компаний;
          li.business__list-item нанять и обучить персонал и выстроить систему его работы.
      .business__text.animated-appearance
        p
          strong После запуска проекта вы можете стать единоличным собственником и управляющим бизнеса или получить от нас его дальнейшее сопровождение.
        p Условия сотрудничества, сроки исполнения работ и предоставления услуг обсуждаются в индивидуальном порядке.
        p.business__contacts-text
          | Вы можете связаться с нами по телефону
          +inlineLink("business__txt-link", "tel:+74951828188", "+7 (495) 182 81 88")
          | <br>
          | или написать на электронную почту
          +inlineLink("business__txt-link", "mailto:domycompany@ya.ru", "domycompany@ya.ru")
          | .
