section.business__section.suppliers
  .business__container.wrapper
    h2.business__small-title.animated-appearance
      button.button(type="button") Поставщикам
    .business__content
      .business__text.animated-appearance
        p
          strong DOMY — активно развивающаяся строительная компания с производством полного цикла.
        p Мы создаем сложные индивидуальные проекты с нуля под ключ и доставляем модульные дома по всей России, поэтому сотрудничаем с большим количеством поставщиков материалов и услуг, чтобы по максимуму удовлетворить требования заказчика.
      .business__text.animated-appearance
        p
          strong Сейчас наша компания активно расширяется, поэтому мы приглашаем в команду:
        ul.business__list
          li.business__list-item надежных поставщиков строительных и отделочных материалов;
          li.business__list-item дизайнеров и архитекторов;
          li.business__list-item производителей мебели;
          li.business__list-item креативные агентства;
          li.business__list-item транспортные компании;
          li.business__list-item производителей спецодежды;
          li.business__list-item официальных дилеров строительного рынка;
          li.business__list-item инновационные компании.
      .business__text.animated-appearance
        p Условия сотрудничества обсуждаются в индивидуальном порядке.
        p.business__contacts-text.animated-appearance
          | Вы можете связаться с нами по телефону
          +inlineLink("business__txt-link", "tel:+74951828188", "+7 (495) 182 81 88")
          | <br>
          | или написать на электронную почту
          +inlineLink("business__txt-link", "mailto:domycompany@ya.ru", "domycompany@ya.ru")
          | .
