-
  const servicesArray = [
    {
      offerName: "Модульные дома любой сложности",
      offerCss: "difficulty",
    },
    {
      offerName: "На собственном производстве",
      offerCss: "prod",
    },
    {
      offerName: "С гарантией 10 лет",
      offerCss: "guarantee",
    },
    {
      offerName: "Полное сопровождение строительства",
      //- offerDescr: "Наши специалисты помогут подобрать подрядчика на установку септика, бурение скважины, монтаж забора, выполнение работ по благоустройству",
      offerCss: "escort",
    },
    {
      offerName: "Помощь в разработке архитектурного проекта",
      offerCss: "arch",
    },
    {
      offerName: "Доставку по России",
      //- offerDescr: "У нас всегда есть в наличии самые популярные проекты. Наличие и количество уточняйте в отделе продаж",
      offerCss: "deliver",
    },
  ]

section.offer
  .wrapper
    h2.offer__title.animated-appearance Мы предлагаем вам
    ul.offer__list
      each item in servicesArray
        li(class= ("offer__item animated-appearance offer__item--" + item.offerCss))
          .offer__container
            .offer__name= item.offerName
            //- dt.offer__name= item.offerName
            //- dd.offer__descr= item.offerDescr
